<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Blog - Home</title>
    <script type="text/javascript" src="/newpost.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo-area">
                <h1 class="linkable">Awesome Blog</h1>
                <h4 class="linkable">Submit Post</h4>
            </div>

        </div>
        <nav>
            <ul>
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">Angular JS</a></li>
                <li class="nav-item"><a href="#">NodeJS Articles</a></li>
                <li class="nav-item"><a href="#">About Me</a></li>
                <li class="nav-item"><a href="#">Contact Me</a></li>
            </ul>
        </nav>
        <input type="text" id="txtSearchPosts" placeholder="Search by title">
        <div class="content">
            <main>
                <form id="form">
                    <label for="postTitle"> Post Title </label>
                    <input type="text" name="postTitle" id="postTitle">

                    <label for="postDate"> postDate </label>
                    <input type="text" name="postDate" id="postDate">

                    <label for="author"> author </label>
                    <input type="yftext" name="author" id="author">

                    <label for="commentsCount"> commentsCount</label>
                    <input type="text" name="commentsCount" id="commentsCount">

                    <label for="postContent"> postContent </label>
                    <input type="text" name="postContent" id="postContent">

                    <input type="button" id="submitpost" value="Submit Post">
                </form>
            </main>
            <aside>
                <p>hello </p>
            </aside>
            <div class="clear"></div>
        </div>
    </div>


</body>

</html>